<a href="https://colab.research.google.com/github/hasant23/ITF/blob/main/pyhthon_def_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def my_function():
  print("hello world")
my_function()

hello world

In [3]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [10]:
def my_function(fname):
  print(fname + "refsnes")
my_function("Emill")  
my_function("Emill")  
my_function("Emill")

Emillrefsnes
Emillrefsnes
Emillrefsnes

In [16]:
def my_function(fname, Iname):
  print(fname +" " +Iname)
my_function("Emil","refnes")

Emil refnes

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)
my_function("Emil")

In [23]:
def my_function(*kids):
   print("the youngest child " + kids[2])
my_function("emil", "tobias", "linus")

the youngest child linus

In [24]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [28]:
def my_function(**kid):
  print("his last name is" + kid["lname"])
my_function(fname = "tobias", lname = " refnes ")

his last name is refnes

In [31]:
def my_function(country="Norway"):
  print("I am from " + country)
my_function("sweden","Ä±ndia")
my_function()

I am from sweden
I am from Norway

In [36]:
def my_function(food):
  for i in food:
    print(i)
fruits=["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [37]:
def my_function(x):
  return 5* x
print(my_function(3))
print(my_function(5))  
print(my_function(9))

15
25
45