<a href="https://colab.research.google.com/github/hasant23/ITF/blob/main/teamwork_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def printMax(a, b):
 if a > b:

   print(a, 'is maximum')
 elif a == b:
   print(a, 'is equal to', b)
 else:
   print(b, 'is maximum')
printMax(3, 4)

4 is maximum

In [8]:
x = 50
def func(x):
 print('x is', x)
 x = 2
 print('Changed local x to', x)
func(x)
print('x is now', x)

x is 50
Changed local x to 2
x is now 50

In [ ]:
def function1(var1=5, var2=7):
 var2=9
 var1=3
 print (var1, " ", var2)
function1(10,12)

3   9